.editRow {
  position: relative;
  /* margin-bottom: 50px; */
}
form {
  width: 90%;
  margin: auto;
  height: 100%;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) !important;
}
form .labelForm {
  right: -50px !important;
}
form .inputForm {
  display: inline-block;
  margin: 5px 50px 5px 50px;
}
form .submitForm,
form h1 {
  margin-right: 50px !important;
}
form .submitForm {
  background: #fcb948 !important;
  color: black;
  font-weight: bold;
}
form .formButton {
  margin-top: 15px;
}
form .formButton button {
  width: 200px;
}
@media only screen and (max-width: 600px) {
  form {
    width: 100%;
  }
  form .formButton {
    margin-bottom: 15px;
  }
  .editRow {
    margin-top: 20px;
  }
  form .inputForm {
    display: inline-flex !important;
  }
}
